:root {
  /* #########PRIMARY-COLOR############## */
  --Moderate-violet: hsl(263, 55%, 52%);
  --Very-dark-grayish-blue: hsl(217, 19%, 35%);
  --Very-dark-blackish-blue: hsl(219, 29%, 14%);
  --White: hsl(0, 0%, 100%);

  /* #########PRIMARY-COLOR############## */
  --Light-gray: hsl(0, 0%, 81%);
  --Light-grayish-blue: hsl(210, 46%, 95%);
}

body {
  background-color: var(--Light-grayish-blue);
  font-family: Barlow Semi Condensed;
}

/* -------------CONTAINER----------------- */

.grid {
    width: 70vw;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(2, 1fr);
margin: 140px auto;
  overflow: hidden;
}

/* ---------------BOXES----------------------- */
.boxes:first-child {
  background-image: url(./images/bg-pattern-quotation.svg);
  background-color: var(--Moderate-violet);
  color: var(--White);
  background-repeat: no-repeat;
  background-position: top 0 right 18%;
}
.boxes:nth-child(3n) {
  background-color: var(--White);
  color: var(--Very-dark-grayish-blue);
}

.boxes:nth-child(2n) {
  background-color: var(--Very-dark-blackish-blue);
  color: var(--White);
}

.boxes:nth-child(4n) {
  background-color: var(--Very-dark-blackish-blue);

  color: var(--White);
}
.boxes:nth-child(5n) {
  background-color: var(--White);
  color: var(--Very-dark-grayish-blue);
}

.boxes {
  border-radius: 10px;
  padding: 20px;
}

/* ---------------IMAGES----------------------- */

#patrick {
    border-radius: 50%;
    position: relative;
    border-style: solid;
    border-color: hsl(263deg 55% 52%);
    border-width: thin;
}

.boxes > img {
  border-radius: 50%;
  position: relative;
  border-style: solid;
  border-color: white;
  border-width: thin;
}

/* ---------------TEXT----------------------- */
.info {
  display: flex;
  flex-direction: column;
  margin-left: 73px;
  margin-top: -71px;
}
h3 {
  color: var(--Light-gray);
  padding: 10px;
}
label {
  margin-top: -29px;
  color: var(--Very-dark-grayish-blue);
  opacity: 70%;
  margin-left: 10px;
}
p{
    opacity: 70%;
}

@media screen and (max-width: 414px) {
  .grid {
    top: 20px;
    margin: 20px;
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);

    grid-template-areas:
      "b b . a"
      ". c c a";
  }
  .boxes:nth-child(5n) {
    grid-area: a;
  }
  .boxes:nth-child(4n) {
    grid-area: c;
  }
  .boxes:first-child {
    grid-area: b;
  }
}
